@import './base.css';

html, body, #app {
  height: 100%;
}

body {
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

/* classes */

.input {
  outline: none;
  padding: 0.25rem;
}

.sidebar-item {
  &.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/* functional */

.full-width {
  width: 100%;
}

/* overrides */

/* From: https://github.com/rtfpessoa/diff2html/issues/381#issuecomment-2041122349 */
.d2h-wrapper {
  text-align: left;
  transform: translateZ(0);
}
